#buttonConvertion{
    -fx-background-image:
            url(../images/convertir.png);
    -fx-background-size: stretch;
}

#anchorPane{
    -fx-background-image:
            url(../images/hunnids.png);
    -fx-background-size: stretch;
    -fx-background-color: #808080;
}